html {
  background-color: #00c1ff;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #032C57;
  border-radius: 5px;
  border-color: #032C57;
  margin: 0.3rem;
  color: white;
}

input {
  padding: 0.3rem;
  margin: 0.3rem;
  width: 20rem;
  border-radius: 5px;
  padding: 0.3rem;
  border-color: white;
}

.submit {
  background-color: #032C57;
  color: white;
  width: 20rem;
  border-radius: 5px;
  padding: 0.3rem;
  border-color: #032C57;
}